<div class="hero-area style-3">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="hero-text wow fadeInLeftSlow" data-wow-duration="1000ms">
                    <span><i><img src="{{ "energy.svg" | asset_url }}" alt=""></i>See results in 3 days</span>
                    <h1>Alkaline pH Balance Supplements</h1>
                    <h2>Products</h2>
                    <p>With Balance7™, experience the resurgence of your immune system, your body's natural defense
                        against illness.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="hero-right-img-wrap">
                    <div class="hero-right-text">
                        <h3>11-Day Starter Kit</h3>
                        <ul>
                            <li>$34.99</li>
                            <li>$65.99</li>
                        </ul>
                        <a href="#" class="theme-btn-s2">Buy Now</a>
                    </div>
                    <div class="hero-right-img">
                        <img src="{{ "hero-right.png" | asset_url }}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- product-area -->
<div class="product-area section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="section-title text-center">
                    <h2>Introducing the Balance7 Collection of Alkalizing Supplements</h2>
                    <p>Ever felt that your body is just not on your side? That despite your best efforts, something
                        seems off? You are not alone.</p>
                    <a href="#">Read More</a>
                </div>
            </div>
        </div>


    </div>
</div>


<!-- details-area -->
<div class="details-area style-2 section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title">
                    <span>Balance7™</span>
                    <h2>Understanding Alkaline pH Balance Supplements</h2>
                    <p>Our bodies work best when they're at a specific pH level. When that balance gets messed up,
                        it can lead to all sorts of health problems. Our supplements step in to fix things by
                        reducing acidity in the body.</p>
                </div>
            </div>
        </div>
        <div class="details-wrap details-active owl-carousel">
            <div class="details-item">
                <div class="row align-items-end">
                    <div class="col-lg-6">
                        <div class="details-content wow fadeInLeftSlow" data-wow-duration="1000ms">
                            <h2>Importance of pH in the Body</h2>
                            <p>Maintaining pH balance isn't just important—it's essential. When your body gets too
                                acidic, it can lead to various health issues, like fatigue and inflammation. As we
                                age, our bodies struggle to maintain this balance naturally, which is where
                                supplements can help.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="details-img wow fadeInRightSlow" data-wow-duration="1200ms">
                            <img src="{{ "carousel1.png" | asset_url }}" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="details-item">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="details-content wow fadeInLeftSlow" data-wow-duration="1000ms">
                            <h2>Importance of pH in the Body</h2>
                            <p>Maintaining pH balance isn't just important—it's essential. When your body gets too
                                acidic, it can lead to various health issues, like fatigue and inflammation. As we
                                age, our bodies struggle to maintain this balance naturally, which is where
                                supplements can help.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="details-img wow fadeInRightSlow" data-wow-duration="1200ms">
                            <img src="{{ "carousel1.png " | asset_url }}" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="details-item">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="details-content wow fadeInLeftSlow" data-wow-duration="1000ms">
                            <h2>Importance of pH in the Body </h2>
                            <p>Maintaining pH balance isn't just important—it's essential. When your body gets too
                                acidic, it can lead to various health issues, like fatigue and inflammation. As we
                                age, our bodies struggle to maintain this balance naturally, which is where
                                supplements can help.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="details-img wow fadeInRightSlow" data-wow-duration="1200ms">
                            <img src="{{ "carousel1.png" | asset_url }}" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="details-item">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="details-content wow fadeInLeftSlow" data-wow-duration="1000ms">
                            <h2>Importance of pH in the Body</h2>
                            <p>Maintaining pH balance isn't just important—it's essential. When your body gets too
                                acidic, it can lead to various health issues, like fatigue and inflammation. As we
                                age, our bodies struggle to maintain this balance naturally, which is where
                                supplements can help.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="details-img wow fadeInRightSlow" data-wow-duration="1200ms">
                            <img src="{{ "carousel1.png" | asset_url }}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- taste-area -->
<div class="taste-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="taste-wrap">
                    <div class="taste-text">
                        <i><img src="{{ "bicon3.svg" | asset_url }}" alt=""></i>
                        <h2>What does Balance7’s taste tell you about your health? </h2>
                        <p>As surprising as it may seem, the taste of Balance7 can provide valuable insights into
                            the state of your internal environment.</p>
                        <p>If your palate detects a bitter or salty taste when consuming Balance7, it could signal
                            that your body is leaning towards acidity. This acidic imbalance, known as acidosis, can
                            lead to a myriad of health issues, including joint pain, headaches, digestion problems,
                            fatigue, memory issues, and sleep disturbances.</p>
                        <p>As Balance7 works its magic, over time your pH levels will optimize and the bitter taste
                            will lessen.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="taste-img">
                    <img src="{{ "taste.jpg" | asset_url }}"  alt="">

                    <div class="compare-wrap">
                        <div class="compare-react">
                            <i><img src="{{ "react1.svg" | asset_url }}"  alt=""></i>
                        </div>
                        <div class="compare-color">
                            <p>
                                <span>Acidic</span>
                                <span><img src="{{ "arrow.svg" | asset_url }}" alt=""></span>
                                <span>Neutral</span>
                            </p>
                            <ul>
                                <li>3</li>
                                <li>4</li>
                                <li>5</li>
                                <li>6</li>
                                <li>7</li>
                            </ul>
                        </div>
                        <div class="compare-react">
                            <i><img src="{{ "react2.svg" | asset_url }}" alt=""></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- quiz-area -->
<div class="quiz-area section-padding"
    style="background: url({{'quiz-bg.jpg' | asset_url }}) no-repeat center top; background-size: cover;">
    <div class="container">
        <div class="quiz-wrap">
            <div class="quiz-text wow fadeInUp" data-wow-duration="1000ms">
                <span>Quiz Time</span>
                <h2>Will Balance7 work for me?</h2>
                <p>Answer a few questions to see if Balance7 is a good fit for you!</p>
                <a href="#" class="theme-btn">Take the Quiz Now</a>
            </div>
        </div>
    </div>
</div>