<div class="hero-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="hero-text wow fadeInLeftSlow" data-wow-duration="1000ms">
                    <span><i><img src="{{ " hero-top.svg" | asset_url }}"></i> Over 6 million bottles
                        sold</span>
                    <h1>#1 Alkaline Concentration Supplement</h1>
                    <p>Revitalize your immune system in just 3 days with Balance7™</p>

                    <div class="hero-btn">
                        <ul>
                            <li><a href="#" class="theme-btn">Shop Balance7</a></li>
                            <li><a href="#">Read Testimonials</a></li>
                        </ul>
                    </div>

                    <div class="bottom-features">
                        <small>As Featured In</small>
                        <ul>
                            <li><img src="{{ "f1.png" | asset_url }}" alt=""></li>
                            <li><img src="{{ "f2.png" | asset_url }}" alt=""></li>
                            <li><img src="{{ "f3.png" | asset_url }}" alt=""></li>
                            <li><img src="{{ "f4.png" | asset_url }}" alt=""></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="hero-right-img-wrap">
                    <div class="hero-right-img-left">
                        <div class="hero-right-img wow fadeInUp" data-wow-duration="1000ms">
                            <img src="{{ " hero-1.jpg" | asset_url }}" src="assets/hero-1.jpg" alt="">
                        </div>
                        <div class="hero-right-img wow fadeInUp" data-wow-duration="1200ms">
                            <img src="{{ "hero-2.jpg" | asset_url }}" src="assets/hero-2.jpg" alt="">
                        </div>
                        <div class="hero-right-img wow fadeInUp" data-wow-duration="1400ms">
                            <img src="{{ "hero-3.jpg" | asset_url }}" alt="">
                        </div>
                    </div>
                    <div class="hero-right-img-right">
                        <div class="hero-right-img wow fadeInUp" data-wow-duration="1600ms">
                            <img src="{{ "hero-4.jpg" | asset_url }}" alt="">
                        </div>
                        <div class="hero-right-img wow fadeInUp" data-wow-duration="1800ms">
                            <img src="{{ "hero-5.jpg" | asset_url }}" alt="">
                        </div>
                        <div class="hero-right-img wow fadeInUp" data-wow-duration="2000ms">
                            <img src="{{ "hero-6.jpg" | asset_url }}"  alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- suppliment-area -->
<div class="suppliment-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="section-title">
                    <span>Proven Results, Natural Solution</span>
                    <h2>The Best of Alkaline Supplements</h2>
                    <p>The only supplement you’ll ever need</p>
                </div>
            </div>
        </div>

        <div class="suppliment-wrap">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-12">
                    <div class="suppliment-item wow fadeInUp" data-wow-duration="1000ms">
                        <div class="suppliment-img">
                            <img src="{{ "sol1.jpg" | asset_url }}" alt="">
                        </div>
                        <div class="suppliment-text">
                            <h2>Shop Balance7™</h2>
                            <p>Increase your energy and invigorate your well-being with high alkaline concentrate.
                            </p>
                            <a href="#">Shop Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-12">
                    <div class="suppliment-item wow fadeInUp" data-wow-duration="1200ms">
                        <div class="suppliment-img">
                            <img src="{{ "sol2.jpg" | asset_url }}" alt="">
                        </div>
                        <div class="suppliment-text">
                            <h2>About Us</h2>
                            <p>Balance7™: a movement towards a life filled with energy, clarity, and vitality.</p>
                            <a href="#">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-12">
                    <div class="suppliment-item wow fadeInUp" data-wow-duration="1400ms">
                        <div class="suppliment-img">
                            <img src="{{ "sol3.jpg" | asset_url }}" alt="">
                        </div>
                        <div class="suppliment-text">
                            <h2>Testimonials</h2>
                            <p>Stories of renewal, joy, and transformation.</p>
                            <a href="#">View Testimonials</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- benefits-area -->
<div class="benefits-area section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title style-2">
                    <span>See results in just 3 days</span>
                    <h2>The 7 Benefits of Balance7™</h2>
                    <p>The ideal pH level for the human body is 7.<br>
                        Our Balance7 supplement can also has 7 key benefits to improve your health.</p>
                </div>
            </div>
        </div>
        <div class="benefits-wrap">
            <div class="row align-items-center">
                <div class="col-lg-4 col-md-12 col-12 order-lg-1 order-2">
                    <div class="benefits-item wow fadeInLeftSlow" data-wow-duration="1000ms">
                        <div class="benefits-content">
                            <div class="benefits-content-inner">
                                <div class="benefits-icon">
                                    <i><img src="{{ "bicon1.svg" | asset_url }}" alt=""></i>
                                </div>
                                <h3>More Energy</h3>
                            </div>
                        </div>
                        <div class="benefits-content">
                            <div class="benefits-content-inner">
                                <div class="benefits-icon">
                                    <i><img src="{{ "bicon2.svg" | asset_url }}" alt=""></i>
                                </div>
                                <h3>Heartburn & Digestion</h3>
                            </div>
                        </div>
                        <div class="benefits-content">
                            <div class="benefits-content-inner">
                                <div class="benefits-icon">
                                    <i><img src="{{ "bicon3.svg" | asset_url }}" alt=""></i>
                                </div>
                                <h3>Optimize pH Balance</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-12 order-lg-2 order-1">
                    <div class="benefits-img wow fadeInUp" data-wow-duration="1000ms">
                        <img src="{{ "bimg.png" | asset_url }}" alt="">
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-12 order-lg-3 order-3">
                    <div class="benefits-item wow fadeInRightSlow" data-wow-duration="1000ms">
                        <div class="benefits-content">
                            <div class="benefits-content-inner">
                                <div class="benefits-icon">
                                    <i><img src="{{ "bicon4.svg" | asset_url }}" alt=""></i>
                                </div>
                                <h3>Immunity Booster</h3>
                            </div>
                        </div>
                        <div class="benefits-content">
                            <div class="benefits-content-inner">
                                <div class="benefits-icon">
                                    <i><img src="{{ "bicon5.svg" | asset_url }}" alt=""></i>
                                </div>
                                <h3>Mental Clarity</h3>
                            </div>
                        </div>
                        <div class="benefits-content">
                            <div class="benefits-content-inner">
                                <div class="benefits-icon">
                                    <i><img src="{{ "bicon6.svg" | asset_url }}" alt=""></i>
                                </div>
                                <h3>Reduce Acid</h3>
                            </div>
                        </div>
                        <div class="benefits-content">
                            <div class="benefits-content-inner">
                                <div class="benefits-icon">
                                    <i><img src="{{ "bicon7.svg" | asset_url }}" alt=""></i>
                                </div>
                                <h3>Joint Relief</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="shop-btn text-center">
                <a href="#" class="theme-btn">Shop Now</a>
            </div>
        </div>
    </div>
</div>

<!-- balance-area -->
<div class="balance-area section-padding">
    <div class="container">
        <div class="balance-wrap">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="balance-img wow fadeInLeftSlow" data-wow-duration="1000ms">
                        <img src="{{ "video.png" | asset_url }}"  alt="">
                        <span> <strong>Watch:</strong> How Does Balance7™ Work?</span>
                        <div class="video-btn">
                            <a href="https://www.youtube.com/embed/sM7FBBr5yeE" data-type="iframe"
                                class="open-video"><img src="{{ "video-btn.svg" | asset_url }}" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="balance-text wow fadeInRightSlow" data-wow-duration="1000ms">
                        <h2>What is in Balance7™?</h2>
                        <p>Combining the best of nature with scientific research to offer products that support the
                            body's natural healing processes.</p>

                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="balance-features">
                                    <h3>01</h3>
                                    <h4>Hydrogenated water</h4>
                                    <p>Increases anti-inflamatory and antioxidant properties in water</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="balance-features">
                                    <h3>02</h3>
                                    <h4>Trisodium phosphate</h4>
                                    <p>Approved by the FDA, the additive is often found in meat, cheese, and baked
                                        goods</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="balance-features">
                                    <h3>03</h3>
                                    <h4>Sodium carbonate</h4>
                                    <p>Neutralizes gastric acid thereby acting as an antacid</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="balance-features">
                                    <h3>04</h3>
                                    <h4>Sodium bicarbonate</h4>
                                    <p>A natural antacid that helps with heartburn, digestion, and more</p>
                                </div>
                            </div>
                        </div>
                        <a class="theme-btn" href="#">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- testimonial-area -->
<div class="testimonial-area section-padding">
    <div class="container">
        <div class="testimonial-wrap">
            <div class="testimonial-img">
                <div class="testimonial-text">
                    <h2>Denise Wasson - Cancer Survivor</h2>
                    <p>With the help of Balance7™, Denise is here today. She is NOT a paid actor.</p>
                    <div class="video">
                        <ul>
                            <li><a href="https://www.youtube.com/embed/sM7FBBr5yeE" data-type="iframe"
                                    class="open-video"><img src="{{ "video2.svg" | asset_url }}" alt=""></a></li>
                            <li>Watch: Denise Wasson</li>
                        </ul>
                    </div>
                </div>
                <img class="t-bg" src="{{ "testimonial-bg.jpg" | asset_url }}" alt="">
            </div>
            <div class="testimonial-bottom">
                <div class="testimonial-inner">
                    <h2>View More Testimonials</h2>
                    <p>Explore firsthand accounts of transformation and wellness through our curated YouTube
                        playlist of testimonials. Witness the powerful impact of Balance7 on individuals just like
                        you.</p>
                    <a href="#" class="theme-btn">More Testimonials</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- details-area -->
<div class="details-area section-padding pt-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title">
                    <span>Balance7™</span>
                    <h2>More Details</h2>
                    <p>Unlock your full health potential in just 3 days with Balance7's proven alkaline
                        formula—trusted by over six million globally.</p>
                </div>
            </div>
        </div>
        <div class="details-wrap details-active owl-carousel">
            <div class="details-item">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="details-content wow fadeInLeftSlow" data-wow-duration="1000ms">
                            <h2>Natural Immune Activation</h2>
                            <p>Balance7™ harnesses the power of all-natural ingredients, aligned with scientific
                                insights, to trigger a profound bodily response.</p>
                            <p>This begins with the neutralization of stomach acid, which then prompts your body to
                                elevate its alkaline levels, preparing your immune system to act, strong and alert.
                            </p>
                            <a href="#">Learn More</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="details-img wow fadeInRightSlow" data-wow-duration="1200ms">
                            <img src="{{ " carousel1.png" | asset_url }}"alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="details-item">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="details-content wow fadeInLeftSlow" data-wow-duration="1000ms">
                            <h2>Natural Immune Activation</h2>
                            <p>Balance7™ harnesses the power of all-natural ingredients, aligned with scientific
                                insights, to trigger a profound bodily response.</p>
                            <p>This begins with the neutralization of stomach acid, which then prompts your body to
                                elevate its alkaline levels, preparing your immune system to act, strong and alert.
                            </p>
                            <a href="#">Learn More</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="details-img wow fadeInRightSlow" data-wow-duration="1200ms">
                            <img src="{{ " carousel1.png" | asset_url }}"alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="details-item">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="details-content wow fadeInLeftSlow" data-wow-duration="1000ms">
                            <h2>Natural Immune Activation</h2>
                            <p>Balance7™ harnesses the power of all-natural ingredients, aligned with scientific
                                insights, to trigger a profound bodily response.</p>
                            <p>This begins with the neutralization of stomach acid, which then prompts your body to
                                elevate its alkaline levels, preparing your immune system to act, strong and alert.
                            </p>
                            <a href="#">Learn More</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="details-img wow fadeInRightSlow" data-wow-duration="1200ms">
                            <img src="{{ " carousel1.png" | asset_url }}"alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="details-item">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="details-content wow fadeInLeftSlow" data-wow-duration="1000ms">
                            <h2>Natural Immune Activation</h2>
                            <p>Balance7™ harnesses the power of all-natural ingredients, aligned with scientific
                                insights, to trigger a profound bodily response.</p>
                            <p>This begins with the neutralization of stomach acid, which then prompts your body to
                                elevate its alkaline levels, preparing your immune system to act, strong and alert.
                            </p>
                            <a href="#">Learn More</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="details-img wow fadeInRightSlow" data-wow-duration="1200ms">
                            <img src="{{ " carousel1.png" | asset_url }}"alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- quiz-area -->
<div class="quiz-area section-padding"
    style="background: url({{'quiz-bg.jpg' | asset_url }}) no-repeat center top; background-size: cover;">
    <div class="container">
        <div class="quiz-wrap">
            <div class="quiz-text wow fadeInUp" data-wow-duration="1000ms">
                <span>Quiz Time</span>
                <h2>Will Balance7 work for me?</h2>
                <p>Answer a few questions to see if Balance7 is a good fit for you!</p>
                <a href="#" class="theme-btn">Take the Quiz Now</a>
            </div>
        </div>
    </div>
</div>