<!-- banner-area -->
<div class="b-section banner-area-s2 section-padding">
  <div class="container-bt">
    <div class="banner-wrap">
      <div class="row align-items-center">
        <div class="col-lg-7 col-md-12 col-12">
          <div class="banner-item wow fadeInLeftSlow" data-wow-duration="1000ms">
            <div class="banner-img">
              <img
                src="{{ section.settings.section_image |  image_url: width: 900 }}"
                width=""
                height=""
                alt="">
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-md-12 col-12">
          <div class="banner-text wow fadeInRightSlow" data-wow-duration="1000ms">
            <h2>{{ section.settings.section_title }}</h2>
            {{ section.settings.section_description }}
            <a href="{{ section.settings.button_link }}" class="theme-btn">{{ section.settings.button_text }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Landing Banner2 Section",
    "settings": [
      {
        "type": "image_picker",
        "id": "section_image",
        "label": "Section Image"
      },
      {
        "type": "text",
        "id": "section_title",
        "label": "Section Title",
        "default": "Doctor-Recommended"
      },
      {
        "type": "richtext",
        "id": "section_description",
        "label": "Section Description",
        "default": "<p>Dr. Nooristani, with his profound medical experience, underscores the importance of pH balance and immunity, endorsing Balance7™ for its unparalleled potential in boosting health and vitality.</p>"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text",
        "default": "Shop Now"
      }, {
        "type": "url",
        "id": "button_link",
        "label": "Button Link"
      }
    ],

    "presets": [
      {
        "name": "Landing Banner2 Section"
      }
    ]
  }
{% endschema %}