<div class="hero-area style2">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="hero-text wow fadeInUp" data-wow-duration="1000ms">
                    <span><i><img src="{{ "hero-top.svg" | asset_url }}" alt=""></i> Over 6 million bottles
                        sold</span>
                    <h1>Meet Balance7™</h1>
                    <h3>Elevating Balance & Immunity through Alkalinity</h3>
                    <p>Balance7™ is a pioneering wellness solution, built on scientifically validated, natural
                        elements. Our aim? To significantly amplify your immunity and elevate your health journey.
                    </p>
                    <div class="bottom-features">
                        <small>As Featured In</small>
                        <ul>
                            <li><img src="{{ "f1.png" | asset_url }}" alt=""></li>
                            <li><img src="{{ "f2.png" | asset_url }}" alt=""></li>
                            <li><img src="{{ "f3.png" | asset_url }}" alt=""></li>
                            <li><img src="{{ "f4.png" | asset_url }}" alt=""></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- benefits-area -->
<div class="benefits-area style-2 section-padding"
    style="background: url({{'bimgbg.jpg' | asset_url }}) no-repeat center top; background-size: cover;">
    <div class="container">
        <div class="benefits-wrap">
            <div class="row align-items-center">
                <div class="col-lg-12 order-lg-1 order-2">
                    <div class="title">
                        <h2>Strengthen Immunity the Natural Way</h2>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12 col-12 order-lg-2 order-3">
                    <div class="benefits-item wow fadeInLeftSlow" data-wow-duration="1000ms">
                        <div class="benefits-content">
                            <div class="benefits-content-inner">
                                <div class="icon">
                                    <i><img src="{{ "check.svg" | asset_url }}" alt=""></i>
                                </div>
                                <h3>Earth-Sourced Minerals</h3>
                                <p>The natural way to bolster immunity.</p>
                            </div>
                        </div>
                        <div class="benefits-content">
                            <div class="benefits-content-inner">
                                <div class="icon">
                                    <i><img src="{{ "check.svg" | asset_url }}" alt=""></i>
                                </div>
                                <h3>Pure Hydrogenated Water</h3>
                                <p>Hydration meets immunity.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-12 order-lg-3 order-1">
                    <div class="benefits-img wow fadeInUp" data-wow-duration="1000ms">
                        <img src="{{ "bimg.png" | asset_url }}" alt="">
                    </div>
                </div>
                <div class="col-lg-3 col-md-12 col-12 order-lg-4 order-4">
                    <div class="benefits-item wow fadeInRightSlow" data-wow-duration="1000ms">
                        <div class="benefits-content">
                            <div class="benefits-content-inner">
                                <div class="icon">
                                    <i><img src="{{ "check.svg" | asset_url }}" alt=""></i>
                                </div>
                                <h3>Perfect pH, Perfect Balance </h3>
                                <p>Enhance your body's natural defenses.</p>
                            </div>
                        </div>
                        <div class="benefits-content">
                            <div class="benefits-content-inner">
                                <div class="icon">
                                    <i><img src="{{ "check.svg" | asset_url }}" alt=""></i>
                                </div>
                                <h3>Fortify Immunity, the Nature's Way</h3>
                                <p>Reinforce your body's shield against ailments.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="shop-btn text-center">
                <a href="#" class="theme-btn">Shop Now</a>
            </div>
        </div>
    </div>
</div>
<!-- banner-area -->
<div class="banner-area section-padding">
    <div class="container">
        <div class="banner-wrap">
            <div class="row align-items-center">
                <div class="col-lg-7 col-md-12 col-12">
                    <div class="banner-item wow fadeInLeftSlow" data-wow-duration="1000ms">
                        <div class="banner-img">
                            <img src="{{ "banner1.jpg" | asset_url }}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12 col-12">
                    <div class="banner-text wow fadeInRightSlow" data-wow-duration="1000ms">
                        <h2>Limited Time Offer:</h2>
                        <h3>Save 10%</h3>
                        <p>Shop now to boost your immunity journey. Use coupon code <strong>BALANCEYOURPH</strong>
                            at checkout.</p>
                        <a href="#" class="theme-btn-s2">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- solution-area -->
<div class="solution-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title">
                    <span>Proven Results, Natural Solution</span>
                    <h2>Why You Need pH Balance</h2>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="Immunity">
                <div class="solution-wrap">
                    <div class="solution-item">
                        <div class="row align-items-center">
                            <div class="col-lg-6">
                                <div class="solution-content wow fadeInLeftSlow" data-wow-duration="1000ms">
                                    <h2>Immunity and pH Balance</h2>
                                    <p>Our bodies seek a balanced pH. A tilt towards acidity can weaken our
                                        immunity,
                                        leaving us vulnerable. Balance7™ ensures this balance, fortifying immunity
                                        and
                                        ensuring robust health.</p>
                                    <p>The choices we make, from food to our way of life and stress, can add acidity
                                        to our
                                        bodies. This silent disruptor weakens our immunity and can be the root cause
                                        of many
                                        health concerns.</p>
                                    <p>Substances in Balance7™ are not just alkaline; they're immunity superheroes.
                                        They
                                        counter excessive acidity and support a healthier you.</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="solution-img wow fadeInRightSlow" data-wow-duration="1200ms">
                                    <img src="{{ "blue-bottle.jpg" | asset_url }}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="Solution">
                <div class="solution-wrap">
                    <div class="solution-item">
                        <div class="row align-items-center">
                            <div class="col-lg-6">
                                <div class="solution-content">
                                    <h2>Immunity and pH Balance</h2>
                                    <p>Our bodies seek a balanced pH. A tilt towards acidity can weaken our
                                        immunity,
                                        leaving us vulnerable. Balance7™ ensures this balance, fortifying immunity
                                        and
                                        ensuring robust health.</p>
                                    <p>The choices we make, from food to our way of life and stress, can add acidity
                                        to our
                                        bodies. This silent disruptor weakens our immunity and can be the root cause
                                        of many
                                        health concerns.</p>
                                    <p>Substances in Balance7™ are not just alkaline; they're immunity superheroes.
                                        They
                                        counter excessive acidity and support a healthier you.</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="solution-img">
                                    <img src="{{ "blue-bottle.jpg" | asset_url }}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="Energy">
                <div class="solution-wrap">
                    <div class="solution-item">
                        <div class="row align-items-center">
                            <div class="col-lg-6">
                                <div class="solution-content">
                                    <h2>Immunity and pH Balance</h2>
                                    <p>Our bodies seek a balanced pH. A tilt towards acidity can weaken our
                                        immunity,
                                        leaving us vulnerable. Balance7™ ensures this balance, fortifying immunity
                                        and
                                        ensuring robust health.</p>
                                    <p>The choices we make, from food to our way of life and stress, can add acidity
                                        to our
                                        bodies. This silent disruptor weakens our immunity and can be the root cause
                                        of many
                                        health concerns.</p>
                                    <p>Substances in Balance7™ are not just alkaline; they're immunity superheroes.
                                        They
                                        counter excessive acidity and support a healthier you.</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="solution-img">
                                    <img src="{{ "blue-bottle.jpg" | asset_url }}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="solution-tab">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="Immunity-tab" data-bs-toggle="tab" href="#Immunity" role="tab"
                        aria-controls="Immunity" aria-selected="true">Immunity</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="Solution-tab" data-bs-toggle="tab" href="#Solution" role="tab"
                        aria-controls="Solution" aria-selected="false">pH Solution</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="Energy-tab" data-bs-toggle="tab" href="#Energy" role="tab"
                        aria-controls="Energy" aria-selected="false">Energy</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- banner-area -->
<div class="banner-area-s2 section-padding">
    <div class="container">
        <div class="banner-wrap">
            <div class="row align-items-center">
                <div class="col-lg-7 col-md-12 col-12">
                    <div class="banner-item wow fadeInLeftSlow" data-wow-duration="1000ms">
                        <div class="banner-img">
                            <img src="{{ "banner2.jpg" | asset_url }}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12 col-12">
                    <div class="banner-text wow fadeInRightSlow" data-wow-duration="1000ms">
                        <h2>Doctor-Recommended</h2>
                        <p>Dr. Nooristani, with his profound medical experience, underscores the importance of pH
                            balance and immunity, endorsing Balance7™ for its unparalleled potential in boosting
                            health and vitality.</p>
                        <a href="#" class="theme-btn">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- healthcare-area -->
<div class="healthcare-area section-padding">
    <div class="container">
        <div class="healthcare-wrap">
            <h2>Why Healthcare Professionals Recommend Balance7™</h2>

            <div class="row">
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="healthcare-item wow fadeInUp" data-wow-duration="1000ms">
                        <div class="icon">
                            <i><img src="{{ "h1.svg" | asset_url }}" alt=""></i>
                        </div>
                        <div class="text">
                            <h3>Perfect pH Balance</h3>
                            <p>Naturally reinforce your body's pH and immunity with Balance7™. Confidently navigate
                                health challenges with our scientifically backed formula.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="healthcare-item wow fadeInUp" data-wow-duration="1100ms">
                        <div class="icon">
                            <i><img src="{{ "h2.svg" | asset_url }}" alt=""></i>
                        </div>
                        <div class="text">
                            <h3>Fortify Your Immunity with Balance7™</h3>
                            <p>Your immune system, your body's guardian, is fortified by Balance7™, bolstering its
                                defense mechanisms.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="healthcare-item wow fadeInUp" data-wow-duration="1200ms">
                        <div class="icon">
                            <i><img src="{{ "h3.svg" | asset_url }}" alt=""></i>
                        </div>
                        <div class="text">
                            <h3>Medical Expertise</h3>
                            <p>Dr. Nooristani's medical wisdom roots Balance7™ in rigorous scientific validation.
                                Years of research endorse our formula, designed to augment energy, strengthen
                                immunity, and ensure wellness.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="healthcare-item wow fadeInUp" data-wow-duration="1300ms">
                        <div class="icon">
                            <i><img src="{{ "h4.svg" | asset_url }}" alt=""></i>
                        </div>
                        <div class="text">
                            <h3>Natural Approach</h3>
                            <p>Healthcare professionals appreciate Balance7™'s natural, food-grade ingredients,
                                which prioritize safety and efficacy.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="healthcare-item wow fadeInUp" data-wow-duration="1300ms">
                        <div class="icon">
                            <i><img src="{{ "h5.svg" | asset_url }}" alt=""></i>
                        </div>
                        <div class="text">
                            <h3>Scientifically Proven</h3>
                            <p>Backed by years of scientific research, our formula is designed to boost energy,
                                support immunity, and promote overall wellness.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="healthcare-item wow fadeInUp" data-wow-duration="1300ms">
                        <div class="icon">
                            <i><img src="{{ "h6.svg" | asset_url }}" alt=""></i>
                        </div>
                        <div class="text">
                            <h3>Naturally Sourced Minerals</h3>
                            <p>Developed over two decades, Balance7™ offers a proprietary blend of safe, all-natural
                                minerals & Hydrogenated Water.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="healthcare-item wow fadeInUp" data-wow-duration="1300ms">
                        <div class="icon">
                            <i><img src="{{ "h7.svg" | asset_url }}" alt=""></i>
                        </div>
                        <div class="text">
                            <h3>Science-Backed and Safe</h3>
                            <p>Within 72 hours, most people experience higher energy, boosted mental awareness, and
                                enhanced overall health.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="healthcare-item wow fadeInUp" data-wow-duration="1300ms">
                        <div class="icon">
                            <i><img src="{{ "h8.svg" | asset_url }}" alt=""></i>
                        </div>
                        <div class="text">
                            <h3>A Commitment to Quality and Safety</h3>
                            <p>Balance7™ is safe for daily consumption. It contains food-grade minerals and is free
                                from harmful additives or chemicals.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- testimonial-area -->
<div class="testimonial-area style-2 section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title">
                    <h2>Hear the Success Stories</h2>
                </div>
            </div>
        </div>
        <div class="testimonial-active owl-carousel">
            <div class="testimonial-wrap">
                <div class="testimonial-img">
                    <div class="testimonial-text">
                        <h2>Lisa Kruitbosch - 2x Cancer Survivor</h2>
                        <p>With the help of Balance7™, Lisa is here today. She is NOT a paid actor.</p>
                        <div class="video">
                            <ul>
                                <li><a href="https://www.youtube.com/embed/sM7FBBr5yeE" data-type="iframe"
                                        class="open-video"><img src="{{ "video2.svg" | asset_url }}" alt=""></a></li>
                                <li>Watch: Lisa Kruitbosch</li>
                            </ul>
                        </div>
                    </div>
                    <img class="t-bg" src="{{ "testimonial-bg2.jpg" | asset_url }}" alt="">
                </div>
            </div>
            <div class="testimonial-wrap">
                <div class="testimonial-img">
                    <div class="testimonial-text">
                        <h2>Lisa Kruitbosch - 2x Cancer Survivor</h2>
                        <p>With the help of Balance7™, Lisa is here today. She is NOT a paid actor.</p>
                        <div class="video">
                            <ul>
                                <li><a href="https://www.youtube.com/embed/sM7FBBr5yeE" data-type="iframe"
                                        class="open-video"><img src="{{ "video2.svg" | asset_url }}" alt=""></a></li>
                                <li>Watch: Lisa Kruitbosch</li>
                            </ul>
                        </div>
                    </div>
                    <img class="t-bg" src="{{ "testimonial-bg2.jpg" | asset_url }}" alt="">
                </div>
            </div>
            <div class="testimonial-wrap">
                <div class="testimonial-img">
                    <div class="testimonial-text">
                        <h2>Lisa Kruitbosch - 2x Cancer Survivor</h2>
                        <p>With the help of Balance7™, Lisa is here today. She is NOT a paid actor.</p>
                        <div class="video">
                            <ul>
                                <li><a href="https://www.youtube.com/embed/sM7FBBr5yeE" data-type="iframe"
                                        class="open-video"><img src="{{ "video2.svg" | asset_url }}" alt=""></a></li>
                                <li>Watch: Lisa Kruitbosch</li>
                            </ul>
                        </div>
                    </div>
                    <img class="t-bg" src="{{ "testimonial-bg2.jpg" | asset_url }}" alt="">
                </div>
            </div>
            <div class="testimonial-wrap">
                <div class="testimonial-img">
                    <div class="testimonial-text">
                        <h2>Lisa Kruitbosch - 2x Cancer Survivor</h2>
                        <p>With the help of Balance7™, Lisa is here today. She is NOT a paid actor.</p>
                        <div class="video">
                            <ul>
                                <li><a href="https://www.youtube.com/embed/sM7FBBr5yeE" data-type="iframe"
                                        class="open-video"><img src="{{ "video2.svg" | asset_url }}" alt=""></a></li>
                                <li>Watch: Lisa Kruitbosch</li>
                            </ul>
                        </div>
                    </div>
                    <img class="t-bg" src="{{ " testimonial-bg2.jpg" | asset_url }}" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- subscribe-area -->
<div class="subscribe-area section-padding"
    style="background: url({{'subscribe-bg.jpg' | asset_url }}) no-repeat center top; background-size: cover;">
    <div class="container">
        <div class="subscribe-wrap wow fadeInUp" data-wow-duration="1300ms">
            <h2>Keep Me Updated</h2>
            <p>Keep balanced with Balance7. Subscribe to our newsletter for exclusive offers.</p>
            <form action="">
                <input type="text" placeholder="Email">
                <button class="theme-btn-s2">Subscribe</button>
            </form>
        </div>
    </div>
</div>